{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

        <main class="container">

            <div class="row g-5">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    {% if validlink %}
                        <p>Por favor ingrese (y confirme) su nueva contraseña</p>
                        <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-outline-primary" value="Change my password">
                        </form>
                    {% else %}
                        <h1>Error al restablecer la contraseña</h1>
                        <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña.</p>
                    {% endif %}
                </div>

                <div class="col-md-3"></div>
            </div>

        </main>
    </div>
{% endblock %}