{% extends 'base.html' %}


{% block content %}
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

        <main class="container">

            <div class="row g-5">
                <div class="col-md-3"></div>

                <div class="col-md-6">
                    
                    <div class="mt-5 mb-5" style="height:25vh">
                        <h1>¡La contraseña ha sido cambiada!</h1>
                        <p><a href="{% url 'login' %}">¿ingresar de nuevo?</a></p>
                    </div>
                    
                </div>

                <div class="col-md-3"></div>
            </div>

        </main>
    </div>
{% endblock %}