<div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% for f in featured %}
            <div class="carousel-item {% if f == featured|first %}active{% endif %}">
                <div class="px-5 p-md-5 mb-4 rounded text-bg-success bg-gradient" style="height: 300px">
                    <div class="col-md-10 px-5 mx-5">
                        <h1 class="display-4 fw-bold px-5">{{ f.title }}</h1>
                        <p class="lead my-3 px-5">{{ f.overview }}</p>
                        <p class="lead mb-0 px-5"><a href="#" class="text-white fw-bold">Continue
                            reading...</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>