{% extends 'base.html' %}
{% load markdown_extras %}

{% block content %} 

<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

    <main class="container">

        <div class="row g-5">
            <div class="col-md-12">

                <div class="row">
                    <div class="d-flex justify-content-between">
                        <h1>{{ post.title }}</h1>
                        <div class="align-self-end">Publicado: {{ post.date_created.date }}</div>
                    </div>
                </div>
                <hr class="d-none d-md-block my-2 mb-3 mt-2">
                {% if post.image %}
                    <div class="text-center">
                        <img src="{{ post.image.url }}" class="img-fluid" alt="image">
                    </div>
                {% endif %}

                <p>{{ post.content | markdown | safe }}</p>

            </div>
        </div>

    </main>
</div>

{% endblock content %}