{% extends 'base.html' %}

{% block content %}
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

    <main class="container">

        <div class="row g-5">
            <div class="col-md-3"></div>

            <div class="col-md-6">

                <div class="w-100 m-auto text-center">
                    
                    <h1>Registro Exitoso</h1>
                    <a class="btn btn-outline-primary mb-5" href="{% url 'login' %}" role="button">Sign In</a>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>

    </main>
</div>
{% endblock %}